.contentRightSite {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: black;
  justify-content: space-around;

  & > div {
    cursor: pointer;
    font-size: 1.3rem;
    display: flex;
    color: white;
    align-items: center;
  }
}

.contentSociety {
  display: flex;
  & > button {
    margin: 0.5rem;
    cursor: pointer;
    background-color: #757575;
    text-align: center;
    border: none;
    width: 3rem;
    height: 3rem;
    justify-content: center;
    border-radius: 50px;
    display: flex;
    color: white;
    align-items: center;
  }

  & > button:hover {
    color: black;
    background-color: white;
  }
}
.contentLogin {
  cursor: pointer;
  padding: 1rem;

  & > div {
    padding-right: 0.5rem;
  }
  & > .login {
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
  }
}
.contentLogin:hover {
  color: #d3cdcd;
  background-color: #757575;
}

.contentWishList {
  cursor: pointer;
  padding: 1rem;
  & > div {
    padding-right: 0.5rem;
  }
  & > .wishlist {
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
  }
}
.contentWishList:hover {
  color: #d3cdcd;
  background-color: #757575;
}
