.contentSearchBar {
  margin: 2.5rem 0 0 0;
  display: flex;
  width: 100%;
  height: 50%;
  justify-content: center;
  background-color: transparent;
  border: 1px solid black;

  & > input {
    color: white;
    font-size: 2rem;
    padding: 1rem;
    border: none;
    height: 100%;
    background-color: transparent;
    width: 80%;
  }
  & > input:focus {
    outline: none;
    color: white
  }
  & > input::placeholder {
    color: white;
  }

  & > button {
    color: white;
    background-color: transparent;
    border: none;
    height: 100%;
    width: 20%;
    text-align: center;
    font-size: 3rem;
    cursor: pointer;
  }
}

.inputSearch::placeholder {
  opacity: 1;
  transition: opacity 0.3s ease-out;
}
.inputSearch:hover::placeholder {
  opacity: 0.7;
}
.inputSearch:focus::placeholder {
  opacity: 0;
}
