.contentCategory {
  display: flex;
  flex-wrap: wrap;
}

.categoryItem {
  margin: 2rem;
  flex: 1;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.imageContainer {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.imageContainer:hover {
  transform: scale(1.05);
}

.textOverlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  text-align: center;
}

.name {
  font-size: 3rem;
  text-align: end;
  padding-right: 2rem;
}

.quantity {
  font-size: 2rem;
  text-align: end;
  padding-right: 2rem;
}

.productCategory {
  margin-bottom: 5rem;
  backdrop-filter: blur(20px);
  display: flex;
}
@media (max-width: 1200px) {
  .categoryItem {
    height: 50rem;
    flex: 1 1 45%; 
    margin: 2.5%;
  }
}

@media (max-width: 960px) {
  .categoryItem {
    height: 35rem;
    flex: 1 1 100%; 
    margin: 2rem 0;
  }
}
