.contentShoppingTools {
  display: flex;
  margin: 4rem 0 0 0;
  height: 40%;
  width: 33%;
  justify-content: center;
  background-color: transparent;
}
.shoppingCart {
  text-decoration: none;
  color: white;
  padding-left: 2rem;
  align-items: center;
  display: flex;
  background-color: transparent;
  border: none;
  height: 100%;
  width: 35%;
  font-size: 3rem;
}
.informationShoppingCart {
  padding-left: 2rem;
  & > p {
    font-size: 1.5rem;
  }
}

.support {
  position: relative;
  color: white;
  padding-left: 2rem;
  align-items: center;
  font-size: 3rem;
  display: flex;
  border-radius: 10px;
  border: 1px solid #222;
  width: 65%;
  height: 100%;
}
.informationSupport {
  padding-left: 2rem;
  & > p {
    font-size: 1.5rem;
  }
}
.icon {
  color: orange;
}

.supportInformations {
  margin-left: 10rem;
}
.additionalInfo {
  z-index: 9999;
  border-radius: 10px;
  margin-top: 2rem;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #222;
  border: 1px solid #ccc;
  padding: 10px;
  display: none;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  & > p {
    font-size: 2rem;
  }
  & > span {
    font-size: 2rem;
    color: orange;
  }
}

.ourCommunity {
  margin-top: 2rem;
  justify-content: space-around;
  display: flex;
  font-size: 4rem;

  & > .fb {
    border: none;
    border-radius: 50%;
    background-color: #fff;
    color: blue;
  }

  & > .ig {
    border-radius: 50%;
    /* background: rgb(253, 187, 45); */
    background: linear-gradient(
      0deg,
      rgba(253, 187, 45, 1) 25%,
      rgba(176, 34, 195, 1) 89%
    );
    border: none;
  }
  & > .twit {
    border-radius: 50%;
    background-color: rgb(0, 162, 255);
    color: white;
    border: none;
  }
}
.support:hover .additionalInfo {
  border: none;
  display: block;
  opacity: 1;
}
@media (max-width: 1200px) {
  .contentShoppingTools {
    display: none;
  }
}
