*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 62.5%;
}

.App {
  display: flex;
  width: 100%;
  height: 100%;
  /* overflow: scroll; */
}

.container {
  background-color: #222;
  width: 100%;
  overflow: auto;
  min-height: 100vh;
}
.container-navBar {
  /* margin: 0 auto; */
  /* width: 95%; */
  background-color: #333;
  display: flex;
  height: 5%;
}
.left-navBar {
  padding: 0 30rem 0 1rem;
  width: 50%;
  height: 100%;
  display: flex;
}
.right-navBar {
  padding: 0 1rem 0 30rem;
  width: 50%;
  height: 100%;
  display: flex;
}

.header-main-section {
  justify-content: space-around;
  padding: 1rem;
  background-color: #333;
  /* margin: 0 auto; */
  /* width: 95%; */
  height: 15%;
  display: flex;
}

.search-area {
  height: 100%;
  width: 33.33%;
  background-color: #333;
  display: flex;
  padding: 2rem;

  & > .search-input {
    background-color: #333;
    width: 100%;
    height: 100%;
  }
}

.logo-area {
  background-image: url(/src/assets/Logo.png);
  background-color: transparent;
  background-size: cover;
  background-position: center;
  width: 25rem;
  height: 100%;
  display: flex;
}
.header-tools {
  width: 33.33%;
  height: 100%;
  background-color: #333;
  display: flex;
  padding: 2rem;
  & > .support {
    width: 80%;
    height: 100%;
  }
  & > .shopping-cart {
    width: 20%;
    height: 100%;
  }
}

.container-main-navigation {
  /* margin: 0 auto; */
  /* width: 95%; */
  background-color: #333;
  height: 8%;
  display: flex;
}
.navigation-menu {
  display: flex;
  margin: 0 auto;
  width: 50%;
  height: 100%;
}

.container-slider {
  /* width: 95%; */
  /* margin: 0 auto; */
  height: 50%;
  background-color: #252396;
}

.product-category {
  /* width: 95%; */
  /* margin: 0 auto; */
  background-color: #333;
  display: flex;
  height: 30%;
}

.container-selling-item {
  display: flex;
  flex-direction: column;
  width: 100%;
  & > .title-selling-items {
    color: white;
    background-color: #333;
    font-size: 3rem;
    text-align: center;
    /* width: 95%; */
    /* margin: 0 auto; */
  }
}

.card-selling-items {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
  & > .card {
    display: flex;
    padding: 1rem;
    margin: 0.5rem;
    background-color: #42aa2d;
    height: 20rem;
    flex-basis: calc(25% - 20px);
    border: 1px solid black;
  }
}

.container-blog-wrapper {
  display: flex;
  /* margin: 0 auto; */
  /* width: 95%; */
  height: 30%;
  background-color: #333;
  flex-direction: column;
  & > .title-blog {
    color: white;
    text-align: center;
    justify-content: center;
    width: 100%;
    height: 10%;
    display: flex;
    font-size: 3rem;
  }
}

.container-fotter {
  display: flex;
  width: 95%;
  height: 5%;
  margin: 0 auto;
  background-color: blueviolet;
}
